name: Code testing

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: purcell/setup-emacs@master
        with:
           version: 24.1
      - uses: leotaku/elisp-check@master
        with:
          check: ert
          file: xid-test.el
