name: Code testing

on:
  pull_request:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: purcell/setup-emacs@master
        with:
           version: 28.1
      - uses: leotaku/elisp-check@master
        with:
          check: ert
          file: xid-test.el
